In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import collections
import networkx as nx
import ipyleaflet as ipl
import re
import nltk
from nltk.tokenize import word_tokenize
import requests

C:\Users\Lenovo\Anaconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
C:\Users\Lenovo\Anaconda3\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [2]:
airport_data  = pd.read_csv("Airport Codes Dataset.csv")
airport_data.head()

   airport_id         city state                                  name
0       10165  Adak Island    AK                                  Adak
1       10299    Anchorage    AK   Ted Stevens Anchorage International
2       10304        Aniak    AK                         Aniak Airport
3       10754       Barrow    AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel    AK                        Bethel Airport

In [3]:
#preprocessing the data airport name before extracting 
#latitude and longitude from the google api
def preprocess_city(name):
    name = name.lower()
    name = name.strip()
    return name
airport_data['city'] = airport_data['city'].apply(preprocess_city)
airport_data['name'] = airport_data['name'].apply(preprocess_city)
airport_data.head(10)

   airport_id         city state                                 name
0       10165  adak island    AK                                 adak
1       10299    anchorage    AK  ted stevens anchorage international
2       10304        aniak    AK                        aniak airport
3       10754       barrow    AK      wiley post/will rogers memorial
4       10551       bethel    AK                       bethel airport
5       10926      cordova    AK                merle k mudhole smith
6       14709    deadhorse    AK                    deadhorse airport
7       11336   dillingham    AK                   dillingham airport
8       11630    fairbanks    AK              fairbanks international
9       11997     gustavus    AK                     gustavus airport

In [4]:
#genrating the address for google api 
def breakWord(data):
    data= [word_tokenize(v) for v in data] 
    res = []
    for vt in data:
        if 'airport' not in vt:
            vt.append('airport')
        res.append(('+'.join(vt)))
    return res
def addPlus(data):
    data = [word_tokenize(v) for v in data]
    res = []
    for vt in data:
        res.append('+'.join(vt))
    return res
def getAddress(name,city):
    res=[]
    for s,t in zip(name,city):
        res.append(s+t)
    return res
airport_name = breakWord(list(airport_data['name'].values))
airport_country = addPlus(list(airport_data['city'].values))
address = getAddress(airport_name,airport_country)

In [5]:
def genrateCood(address):
    lat=[]
    lng=[]
    for add in address:
        try:
            google_api_data = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address="+str(add)+"&key=AIzaSyDCXYaYdHCFFhsctcSBpipkmuvAPVgu6uM")
            cood = google_api_data.json()
            lat.append(cood['results'][0]['geometry']['location']['lat'])
            lng.append(cood['results'][0]['geometry']['location']['lng'])
            print(cood['results'][0]['geometry']['location']['lat'],' ',cood['results'][0]['geometry']['location']['lng'])
        except:
            print("Error in format "+str(add))
        
    return lat,lng

In [18]:
latitude,longitude = genrateCood(address)

51.88   -176.6580556
61.17588629999999   -149.9900792
61.5807992   -159.5425825
71.2874212   -156.7802701
60.77972200000001   -161.8377779
60.4934354   -145.4757287
70.1984121   -148.4611183
59.0420062   -158.508371
64.8164163   -147.8635168
58.422469   -135.7030421
58.3579806   -134.5831791
55.3554106   -131.7105604
58.67666699999999   -156.649167
57.7543254   -152.516958
66.8913694   -162.6024888
64.5099347   -165.4435152
56.8016796   -132.9482065
57.05271949999999   -135.3651389
42.956899   -87.918669
53.8983407   -166.5442157
56.4850237   -132.3795998
59.5099391   -139.6686314
33.5624269   -86.754126
31.3148738   -85.44872099999999
34.6403329   -86.77568989999999
30.6919046   -88.2441578
32.3050713   -86.3906353
36.2786587   -94.30429400000001
35.3380696   -94.3635085
34.7307049   -92.2216531
33.4568776   -93.9941485
35.1401934   -111.6708808
35.9526026   -112.1444184
33.4372686   -112.0077881
32.1145102   -110.9392269
32.6563828   -114.5814686
40.9709197   -124.1065825
35.4329123   -119.056618
34.1983122   -118.3574036
33.1268216   -117.2792408
39.7990801   -121.8548167
37.9902157   -122.0561317
41.7723327   -124.237682
32.835205   -115.5723977
36.7758493   -119.7181083
35.6525663   -117.8272962
38.8924978   -119.998087
33.8176974   -118.1523845
33.9415889   -118.40853
37.6244629   -118.8388538
37.6269954   -120.9560394
36.588269   -121.8491091
37.7125689   -122.2197428
34.0559781   -117.598057
34.1985056   -119.2065106
33.8303194   -116.5070468
34.6319268   -118.088878
40.5058184   -122.2996775
38.6950854   -121.5900648
32.7338006   -117.1933038
37.6213129   -122.3789554
37.3639472   -121.9289375
35.2374865   -120.6409032
33.6761901   -117.8674759
34.4271935   -119.8398835
34.8991411   -120.4477733
37.8968929   -121.2514811
36.3266887   -119.3986334
39.2196304   -106.8643335
38.801712   -104.7026039
39.8560963   -104.6737376
37.1506067   -107.7532559
39.6425637   -106.9145481
39.1222307   -108.5291468
38.5372495   -106.9353988
40.4814042   -107.2166138
38.5003821   -107.8991394
38.2859398   -104.4953346
37.9545624   -107.9019696
41.9388735   -72.68603139999999
41.2678919   -72.8868727
38.851242   -77.04023149999999
38.9531162   -77.45653879999999
39.6802039   -75.6034614
9.4978375   138.0865812
29.185169   -81.070528
26.0742344   -80.1506022
26.5337051   -81.7553083
29.6863121   -82.2766402
30.49407129999999   -81.6879368
24.5536707   -81.7549737
24.724998   -81.051405
-37.6690123   144.8410273
25.7958723   -80.2870509
26.1521074   -81.77494759999999
28.4311577   -81.308083
30.3552535   -85.7990639
30.3552535   -85.7990639
30.4738158   -87.1867049
27.3951191   -82.5538198
27.9098674   -82.68885709999999
30.3954074   -84.3450518
27.9834776   -82.5370781
30.49545509999999   -86.54984639999999
26.6857475   -80.0928165
31.53567109999999   -84.19390489999999
33.6407282   -84.4277001
33.3688534   -81.9657651
31.2548331   -81.46691109999999
32.5143625   -84.9410549
32.7014571   -83.65010079999999
32.1294267   -81.2018521
30.7892346   -83.27882269999999
19.7188342   -155.0416866
21.3245132   -157.9250736
21.1535674   -157.0963276
20.8967924   -156.4329379
19.736916   -156.0429246
20.785386   -156.9513273
21.9788489   -159.3437585
41.8863861   -91.70697539999999
41.5341333   -93.6587958
42.39384   -90.700621
42.4025   -96.384167
42.5552262   -92.3979652
43.5658231   -116.2223159
43.5152294   -112.0678843
46.3740418   -117.014737
42.9056887   -112.5887539
43.5066901   -114.2992901
42.4833496   -114.4847165
40.4801853   -88.9189342
40.03649619999999   -88.26398789999999
41.78677589999999   -87.7521884
41.9741625   -87.9073214
41.4496341   -90.50827059999999
40.6736423   -89.68412529999999
42.20218029999999   -89.0988607
39.8435114   -89.67809629999999
38.0433641   -87.52717539999999
40.9828674   -85.18844229999999
39.7168593   -86.2955952
41.7006862   -86.3122566
37.9268913   -100.7198703
39.1371223   -96.6699273
38.9483444   -95.6664279
37.6508529   -97.42869879999999
38.03776149999999   -84.6026083
38.175662   -85.7369231
37.0612439   -88.7675112
31.3274112   -92.5451856
30.5323599   -91.15146100000001
30.205482   -91.9894188
30.1229972   -93.2211183
32.51023110000001   -92.0436229
29.9922012   -90.25901119999999
32.4544911   -93.8286552
42.3656132   -71.0095602
41.388145   -70.613868
41.2569516   -70.0637506
42.26947   -71.87026999999999
39.1774042   -76.6683922
44.8069263   -68.823274
43.6464785   -70.30969739999999
42.4090864   -83.00382359999999
42.2161722   -83.3553842
42.973423   -83.73889419999999
42.8846633   -85.5248434
47.1686533   -88.49399880000001
42.2355515   -85.5515933
42.7750378   -84.5894539
46.3497439   -87.3873273
43.1645753   -86.23798719999999
45.5714903   -84.78618340000001
43.5386272   -84.0821024
44.7369137   -85.5796208
47.5092442   -94.9329041
46.8489453   -92.17363859999999
48.5663926   -93.397607
44.8847554   -93.2222846
43.9109834   -92.4967704
36.5385446   -93.19907289999999
38.8155232   -92.2193772
37.1574736   -94.50159169999999
39.1208095   -94.59023739999999
39.2991181   -94.7107786
37.244319   -93.3888303
38.7499403   -90.374819
33.4516041   -88.587603
33.47953   -90.990105
30.4132664   -89.0714984
32.3122283   -90.0764217
32.333547   -88.7451526
34.683299   -90.351412
34.2662432   -88.76633400000001
45.80350809999999   -108.5379142
45.7776736   -111.1606128
45.9551935   -112.5021977
47.4825016   -111.3566299
46.6095791   -111.9902266
48.3076648   -114.2525337
46.9185943   -114.0858752
44.6867178   -111.1145613
35.4348962   -82.53785409999999
35.2144026   -80.9473146
34.9910665   -78.887089
36.1043671   -79.9351805
35.7422447   -81.3892546
34.8291316   -77.60688429999999
35.3247252   -77.6113604
35.0776455   -77.0382005
35.2350831   -79.39411559999999
35.88007899999999   -78.7879963
34.2668931   -77.91052010000001
46.77518999999999   -100.7572447
46.9223374   -96.8180144
47.942861   -97.176582
48.4157509   -101.3386723
48.25567119999999   -101.2882265
47.961113   -97.4011079
40.9694381   -98.3129098
40.8506586   -96.7581014
41.3018733   -95.8937409
41.8695256   -103.5934413
42.929687   -71.4352177
39.4557779   -74.57251169999999
40.6895314   -74.1744624
40.27781299999999   -74.81371879999999
35.0433333   -106.6129085
36.7386433   -108.2273
32.6923483   -103.214364
33.3067198   -104.5189261
35.6182563   -106.0845315
40.8278188   -115.786212
36.0839998   -115.1537389
39.4995907   -119.7680951
42.7487124   -73.8054981
42.2081084   -75.9820633
42.9397059   -78.7295067
42.1604316   -76.8921794
40.7958454   -73.10214309999999
42.4910812   -76.4584974
40.6413111   -73.77813909999999
40.774038   -73.872079
41.4984032   -74.1008627
43.1225229   -77.66657219999999
43.1139301   -76.1101888
43.2303415   -75.4052573
43.9956627   -76.022365
41.0683325   -73.7086641
40.9153779   -81.4418833
39.0532746   -84.6630165
41.4057985   -81.8538669
39.9999399   -82.8871767
39.90252419999999   -84.2217719
41.5878083   -83.80914109999999
34.5726626   -98.4159133
35.393056   -97.600556
36.198778   -95.88386589999999
44.2532061   -121.1608592
44.1217811   -123.2159003
42.16520269999999   -121.7463436
42.36833619999999   -122.8742933
43.4162233   -124.2492439
45.58976939999999   -122.5950942
44.9078414   -123.0018514
40.6516457   -75.4440963
42.0840391   -80.1719311
40.1942375   -76.7576672
39.8743959   -75.2424229
40.4957722   -80.24131129999999
41.3379327   -75.7246404
40.8499873   -77.8486889
7.364301999999999   134.5329127
18.4953957   -67.1355779
18.255084   -67.1484859
18.0090714   -66.5625743
18.4383715   -66.0001003
41.7245271   -71.4304062
32.8942676   -80.038159
33.941917   -81.1220015
34.1931906   -79.7281922
34.8959008   -82.2172338
32.2248476   -80.6971648
33.6822019   -78.92789429999999
45.4534583   -98.4177261
44.3825   -100.285833
44.0383798   -103.0605163
43.5803164   -96.74135899999999
36.4809142   -82.40839199999999
35.0374486   -85.19701119999999
35.810833   -83.993889
35.0420679   -89.9791729
36.126317   -86.67737129999999
13.4852976   144.8008119
14.172008   145.243761
15.1197429   145.7282789
32.4118941   -99.6800464
35.2203245   -101.7074509
30.19747109999999   -97.66635289999999
30.2919661   -97.699002
29.955847   -94.0220743
25.9063266   -97.4269855
30.5936801   -96.36660529999999
27.7724235   -97.5021829
32.8481029   -96.8512063

32.8998091   -97.0403352
29.3783   -100.9262595
31.8053354   -106.3824345
26.2234764   -97.6623631
29.5945391   -95.1713939
29.9902199   -95.3367827
29.6459077   -95.27690539999999
31.0615241   -97.82091799999999
31.0873439   -97.68546950000001
27.5447829   -99.4613589
32.3876264   -94.71911860000002
33.6565685   -101.8222599
31.9417386   -102.2047497
26.1780926   -98.24103629999999
31.35728569999999   -100.5028459
29.5311973   -98.4683484
32.3511258   -95.40962929999999
28.852345   -96.9199383
31.6135899   -97.2262908
33.9642825   -98.4918225
37.6960908   -113.0972155
41.1934195   -112.0089781
40.2180508   -111.7222357
40.7899404   -111.9790706
37.0334435   -113.5099289
38.1394877   -78.4516149
37.3271839   -79.2002065
37.131667   -76.492778
36.8956837   -76.2000161
37.5065795   -77.3208112
37.3204166   -79.9701408
18.3360608   -64.9722726
17.6995292   -64.79747019999999
44.4706939   -73.1516037
48.7955792   -122.5330642
47.20807869999999   -119.3176918
46.2631697   -119.1175903
47.5281657   -122.3018264
47.4502499   -122.3088165
47.62174779999999   -117.534812
46.5701759   -120.5398884
44.2602864   -88.51119299999999
44.867487   -91.482709
44.4926999   -88.1271783
43.8753591   -91.2634558
43.1390659   -89.33641279999999
42.9475534   -87.89664599999999
44.784201   -89.67268
45.6262146   -89.463867
38.3683533   -82.5578085
38.3714489   -81.5934922
39.2967239   -80.231201
37.856284   -80.404748
42.8972741   -106.46485
41.15298629999999   -104.810231
44.520442   -109.0225794
44.348086   -105.5390962
43.6084108   -110.7366517
41.5939637   -109.0638461

In [19]:
new_lat = latitude
new_lng = longitude

In [21]:
new_lat = np.array(new_lat)
new_lng = np.array(new_lng)

In [24]:
airport_data['lat'] = new_lat
airport_data['lng'] = new_lng
airport_data.head()

,airport_id,city,state,name,lat,lng
0,10165,adak island,AK,adak,51.880000,-176.658056
1,10299,anchorage,AK,ted stevens anchorage international,61.175886,-149.990079
2,10304,aniak,AK,aniak airport,61.580799,-159.542583
3,10754,barrow,AK,wiley post/will rogers memorial,71.287421,-156.780270
4,10551,bethel,AK,bethel airport,60.779722,-161.837778

In [25]:
airport_data.to_csv("airport_analysis_data.csv")

{
   "results" : [
      {
         "address_components" : [
            {
               "long_name" : "Adak Airport",
               "short_name" : "Adak Airport",
               "types" : [ "airport", "establishment", "point_of_interest" ]
            },
            {
               "long_name" : "Adak",
               "short_name" : "Adak",
               "types" : [ "locality", "political" ]
            },
            {
               "long_name" : "Aleutians West",
               "short_name" : "Aleutians West",
               "types" : [ "administrative_area_level_2", "political" ]
            },
            {
               "long_name" : "Alaska",
               "short_name" : "AK",
               "types" : [ "administrative_area_level_1", "political" ]
            },
            {
               "long_name" : "United States",
               "short_name" : "US",
               "types" : [ "country", "political" ]
            },
            {
               "long_name" : "99546",
               "short_name" : "99546",
               "types" : [ "postal_code" ]
            }
         ],
         "formatted_address" : "Adak Airport, Adak, AK 99546, USA",
         "geometry" : {
            "location" : {
               "lat" : 51.88,
               "lng" : -176.6580556
            },
            "location_type" : "GEOMETRIC_CENTER",
            "viewport" : {
               "northeast" : {
                  "lat" : 51.8813489802915,
                  "lng" : -176.6567066197085
               },
               "southwest" : {
                  "lat" : 51.8786510197085,
                  "lng" : -176.6594045802915
               }
            }
         },
         "partial_match" : true,
         "place_id" : "ChIJN4qVoALOkVcRXR3Q9jjGnEY",
         "plus_code" : {
            "compound_code" : "V8HR+XQ Adak, Alaska, United States",
            "global_code" : "9235V8HR+XQ"
         },
         "types" : [ "airport", "establishment", "point_of_interest" ]
      }
   ],
   "status" : "OK"
}